@font-face {
  font-family:  'Fira Code';
  font-weight:  500;
  src:          url('./tff/FiraCode-Medium.ttf');
}

@font-face {
  font-family:  'Fira Code';
  font-weight:  700;
  src:          url('./tff/FiraCode-Bold.ttf');
}
