@use "sass:map";

@use "../abstracts/functions" as fun;
@use "../abstracts/variables/colors";


.badge-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.badge {
  background-color: map.get(colors.$theme, "bg-light");
  cursor: default;
  display: inline-flex;
  letter-spacing: .035em;

  &.badge-pronoun {
    font-size: fun.convert-px-to-rem(14);
  }

  &:nth-child(odd) {
    background-color: rgba(map.get(colors.$theme, "bg-light"), .12);
  }

  @each $skill, $color in colors.$skill-theme {
    &[title="#{$skill}"] { background-color: rgba($color, colors.$project-bg-opacity); }
  }
}
