@use "sass:map";

@use "../abstracts/variables/colors";
@use "../abstracts/variables/typography";


.icon {
  color: #484C5A;
}

.tag {
  align-items: center;
  display: inline-flex;
  gap: .5rem;

  &::after {
    content: '\003E';
  }

  &::before {
    content: '\003C';
  }

  &::after, &::before {
    color: map-get(colors.$theme, 'primary');
    font-family: typography.$font-family-monospace;
    font-size: 1rem;
  }
}