@use "functions" as fun;
@use "variables/colors";
@use "variables/buttons";

$card-quatity: 4;

$icon-user-size: 228;
$icon-skill-size: 147;
$icon-user-position: 16;

$animation-duration: .8s;


@mixin animation-fade-in($delay: 0s) {
  animation-duration: $animation-duration;
  animation-delay: $delay;
  animation-name: fade-in;
  animation-fill-mode: forwards;

  opacity: 0;
}

.home-header {
  margin-bottom: 25vh;
  margin-top: 25vh;
  max-width: fun.convert-px-to-rem(988);

  h1 {
    letter-spacing: clamp(fun.convert-px-to-rem(3.5), 3vw, fun.convert-px-to-rem(5));
    line-height: clamp(fun.convert-px-to-rem(48), 10vw, fun.convert-px-to-rem(72));

    @include animation-fade-in($animation-duration * .5);
  }

  h2 {
    letter-spacing: clamp(fun.convert-px-to-rem(1.8), 3vw, fun.convert-px-to-rem(2));
    line-height: clamp(fun.convert-px-to-rem(24), 5vw, fun.convert-px-to-rem(36));
    margin-bottom: clamp(fun.convert-px-to-rem(24), 5vw, fun.convert-px-to-rem(36));

    @include animation-fade-in(.2s);
  }
}

.card {
  position: relative;

  .card-header {
    letter-spacing: fun.convert-px-to-rem(2.5);
  }

  .icon {
    opacity: .15;
    position: absolute;

    &.user {
      height: fun.convert-px-to-rem($icon-user-size);
      right: fun.convert-px-to-rem($icon-user-position);
      top: fun.convert-px-to-rem($icon-user-position);
      width: fun.convert-px-to-rem($icon-user-size);
    }

    &.skill {
      height: fun.convert-px-to-rem($icon-skill-size);
      right: fun.convert-px-to-rem(32);
      top: fun.convert-px-to-rem(32);
      width: fun.convert-px-to-rem($icon-skill-size);
    }
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.download {
    background-image: url('data:image/svg+xml,%3Csvg%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M13%2017V3h-2v10H9v-2H7v2h2v2h2v2h2zm8%202v-4h-2v4H5v-4H3v6h18v-2zm-8-6v2h2v-2h2v-2h-2v2h-2z%22%20fill%3D%22%23E4E6EC%22%20opacity%3D%220.5%22%2F%3E%20%3C%2Fsvg%3E');
    background-position: calc(100% - fun.convert-px-to-rem(32)) center;
    background-repeat: no-repeat;
    background-size: fun.convert-px-to-rem(32);
  }
}

a {
  &.card {
    transition: buttons.$link-transition, box-shadow buttons.$link-transition-duration;

    &:hover {
      box-shadow: 0 0 0 fun.convert-px-to-rem(2) map-get(colors.$theme, "primary");
    }
  }

  &.link.flag {
    border-radius: fun.convert-px-to-rem(4);
    opacity: .5;
    overflow: hidden;
    width: fun.convert-px-to-rem(43);

    transition: buttons.$link-transition-duration;

    &:hover {
      opacity: 1;
    }
  }
}

.skill-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;

    .badge {
      display: inline-flex;
      background-color: rgba(map-get(colors.$theme, "secondary"), .5);

      &:nth-child(odd) {
        background-color: rgba(map-get(colors.$theme, "secondary"), .25);
      }
    }
  }
}

.left-column {
  @include animation-fade-in($animation-duration);
}

.right-column {
  @for $i from 1 through $card-quatity {
    &>.card:nth-child(#{$i}n) {
      @include animation-fade-in($animation-duration + .5 * ($i * .45));
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}