<section class="photo-section">
  <img
    class="img-fluid"
    src="https://via.placeholder.com/331x419.png?text=My+Photo"
    alt="Author photo"
  >
</section>

<section class="header-section d-flex flex-column align-items-center align-items-lg-start">
  <header>
    <h1>Leandro Matias Baldo</h1>
    <h2 class="font-monospace text-reset text-lowercase">dev front-end;</h2>
  </header>

  <nav class="d-flex flex-column flex-lg-row justify-content-between gap-3 w-100">
    <a class="btn btn-outline-primary" href="#">Skill Tree</a>
    <a class="btn btn-outline-primary" href="#">Quests</a>
    <a class="btn btn-outline-primary" href="#">Status</a>
  </nav>
</section>
