<header class="home-header d-flex flex-column align-items-center text-center">
  <h2 class="text-regular tag text-secondary fw-lighter">Oh, hi beautiful person.</h2>
  <h1 class="mb-0">
    I’m Leandro, breathing web since
    <span
      animateNumber
      class="text-primary"
      [duration]="650"
      [delay]="1250"
      [endValue]="2017"
      [initialValue]="currentYear"
    ></span>
  </h1>
</header>

<section class="content-section d-flex flex-lg-row flex-column-reverse gap-5 pb-md-6 pb-4">
  <section class="left-column d-flex flex-column col-lg col-12 gap-5">
    <div class="card p-lg-6 p-5">
      <h3 class="card-header tag mb-5">About Me</h3>

      <svg class="icon user" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10 2h4v4h-4V2zM7 7h10v2h-2v13h-2v-6h-2v6H9V9H7V7zM5 5v2h2V5H5zm0 0H3V3h2v2zm14 0v2h-2V5h2zm0 0V3h2v2h-2z" fill="currentColor"/>
      </svg>

      <p>I've been fascinated by technologies and arts since childhood.</p>
      <p>I feel motivated when I'm creative. I love working with CSS, especially creating animations.</p>
      <p>
        In everything I'm involved with, I desire to pay extra attention to quality, whether it's in terms of what could
        be better in usability for the user or in code, making it more scalable and applying concepts like KISS, YAGNI, DRY
        and when finishing a task always validate through a devbox.
      </p>
      <p>
        Teamwork is a practice I contemplate. I enjoy being able to help and be helped, which leads me to adopt pair
        programming practices when I'm blocked or to help someone.
      </p>
    </div>

    <div class="skill-list card p-lg-6 p-5">
      <h3 class="tag mb-5">Skills</h3>
      <svg class="icon skill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
        <path d="M16 3H6v2H2v10h6V5h8v10h6V5h-4V3h-2zm4 4v6h-2V7h2zM6 13H4V7h2v6zm12 2H6v2h12v-2zm-7 2h2v2h3v2H8v-2h3v-2z" fill="currentColor"/>
      </svg>

      <ul class="d-flex fs-5">
        <li *ngFor="let skill of Skills" class="badge">{{ skill }}</li>
      </ul>
    </div>
  </section>

  <section class="right-column d-flex flex-column gap-5 col-lg col-12">
    <!-- If add or remove a card remember to increase or decrease the card quantity in home.component.scss -->
    <a
      class="card px-5 py-3"
      href="https://www.linkedin.com/in/leandro-matias/"
      target="_blank"
    >
      <h3 class="tag">Experience</h3>
      <p class="text-secondary">See my Linkedin profile.</p>
    </a>

    <a
      class="card px-5 py-3"
      href="https://github.com/zKhiro"
      target="_blank"
    >
      <h3 class="tag">Github</h3>
      <p class="text-secondary">See my repositories and contributions.</p>
    </a>

    <a
      class="card px-5 py-3"
      href="https://codepen.io/zkhiro"
      target="_blank"
    >
      <h3 class="tag">CodePen</h3>
      <p class="text-secondary">See my pens.</p>
    </a>

    <!-- <div class="card download px-5 py-3">
      <h3 class="tag">Resume</h3>
      <p class="text-secondary mb-2">Choose the language:</p>

      <div class="d-flex gap-4">
        <a
          class="link flag"
          href="assets/resume/Leandro Matias Baldo PT-BR.pdf"
          target="_blank"
        >
          <img src="assets/images/flags/br.svg" alt="brazilian flag">
        </a>

        <a
          class="link flag"
          href="assets/resume/Leandro Matias Baldo EN.pdf"
          target="_blank"
        >
          <img src="assets/images/flags/us.svg" alt="United State of America flag">
        </a>
      </div>
    </div> -->

    <div class="card p-5 flex-fill">
      <h3 class="tag mb-5">Hosted Projects</h3>

      <a
        *ngFor="let project of Projects"
        class="card link text-center p-3 col-lg-6"
        target="_blank"
        [href]="project.link"
      >
        <span class="position-relative">
          {{ project.name }}

          <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M9 2H5v2H3v2H1v6h2v2h2v2h2v2h2v2h2v2h2v-2h2v-2h2v-2h2v-2h2v-2h2V6h-2V4h-2V2h-4v2h-2v2h-2V4H9V2zm0 2v2h2v2h2V6h2V4h4v2h2v6h-2v2h-2v2h-2v2h-2v2h-2v-2H9v-2H7v-2H5v-2H3V6h2V4h4z" fill="currentColor"/> </svg>
        </span>
      </a>
    </div>
  </section>
</section>