<header class="home-header d-flex flex-column align-items-center text-center">
  <h2 class="text-regular tag text-secondary fw-lighter">Oh, hi beautiful person.</h2>
  <h1 class="mb-0">
    I’m Leandro, breathing web since
    <span
      class="text-primary"
      [animateNumber]="1997"
      [duration]="500"
      [endValue]="2017"
    ></span>
  </h1>
</header>

<section class="content-section d-flex flex-lg-row flex-column-reverse gap-5 pb-md-6 pb-4">
  <section class="d-flex flex-column col-lg col-12 gap-5">
    <div class="card p-lg-6 p-5">
      <h3 class="card-header tag mb-5">About Me</h3>

      <svg class="icon user" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15 2H9v2H7v6h2V4h6V2zm0 8H9v2h6v-2zm0-6h2v6h-2V4zM4 16h2v-2h12v2H6v4h12v-4h2v6H4v-6z" fill="currentColor"/>
      </svg>

      <p>I've been fascinated by technologies and arts since childhood.</p>
      <p>I feel motivated when I'm creative. I love working with CSS, especially creating animations.</p>
      <p>
        In everything I'm involved with, I desire to pay extra attention to quality, whether it's in terms of what could
        be better in usability for the user or in code, making it more scalable and applying concepts like KISS, YAGNI, DRY
        and when finishing a task always validate through a devbox.
      </p>
      <p>
        Teamwork is a practice I contemplate. I enjoy being able to help and be helped, which leads me to adopt pair
        programming practices when I'm blocked or to help someone.
      </p>
    </div>

    <div class="skill-list card p-lg-6 p-5">
      <h3 class="tag mb-5">Skills</h3>
      <svg class="icon skill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 123" fill="none">
        <path d="M0.249998 79.875L0.25 122.75L12.5 122.75L12.5 92.125L37 92.125L37 122.75L49.25 122.75L49.25 79.875L30.875 79.875L30.875 49.25L92.125 49.25L92.125 79.875L73.75 79.875L73.75 122.75L86 122.75L86 92.125L110.5 92.125L110.5 122.75L122.75 122.75L122.75 79.875L104.375 79.875L104.375 37L67.625 37L67.625 0.249997L55.375 0.249998L55.375 37L18.625 37L18.625 79.875L0.249998 79.875Z" fill="currentColor"/>
      </svg>

      <ul class="d-flex fs-5">
        <li *ngFor="let skill of skills" class="badge">{{ skill }}</li>
      </ul>
    </div>
  </section>

  <section class="d-flex flex-column gap-5 col-lg col-12">
    <a
      class="card px-5 py-3"
      href="https://www.linkedin.com/in/leandro-matias/"
      target="_blank"
    >
      <h3 class="tag">Experience</h3>
      <p class="text-secondary">See my Linkedin profile.</p>
    </a>

    <a
      class="card px-5 py-3"
      href="https://github.com/zKhiro"
      target="_blank"
    >
      <h3 class="tag">Projects</h3>
      <p class="text-secondary">See my contributions in Github.</p>
    </a>
  </section>
</section>