@use "sass:math";

@use "../abstracts/variables/layouts";
@use "../abstracts/mixins";


.container {
  padding-left:   layouts.$container-padding-x;
  padding-right:  layouts.$container-padding-x;

  @include mixins.media-breakpoint-down(md) {
    padding-left:   math.div(layouts.$container-padding-x, 2.6666666666666666);
    padding-right:  math.div(layouts.$container-padding-x, 2.6666666666666666);
  }
}