@font-face {
  font-family:  'Poppins';
  font-weight:  500;
  src:          url('./tff/Poppins-Medium.ttf');
}

@font-face {
  font-family:  'Poppins';
  font-weight:  600;
  src:          url('./tff/Poppins-SemiBold.ttf');
}

@font-face {
  font-family:  'Poppins';
  font-weight:  700;
  src:          url('./tff/Poppins-Bold.ttf');
}

@font-face {
  font-family:  'Poppins';
  font-weight:  900;
  src:          url('./tff/Poppins-Black.ttf');
}