.feather-icon {
  fill:             none;
  height:           24px;
  stroke:           currentColor;
  stroke-linecap:   round;
  stroke-linejoin:  round;
  stroke-width:     1;
  width:            24px;
}