@use "../abstracts/variables/typography";

@forward "/src/assets/fonts";

h6, .h6, h5, .h5,
h4, .h4, h3, .h3,
h2, .h2, h1, .h1 {
  letter-spacing: .06em;
}

p {
  letter-spacing: .02em;
}

.text-regular {
  font-family: typography.$font-family-sans-serif;
}
