@font-face {
  font-family:  'Catamaran';
  font-weight:  400;
  src:          url('./tff/Catamaran-Regular.ttf');
}

@font-face {
  font-family:  'Catamaran';
  font-weight:  300;
  src:          url('./tff/Catamaran-Light.ttf');
}