@use "variables/typography";
@use "functions" as fun;


.back-link {
  padding: fun.convert-px-to-rem(18) fun.convert-px-to-rem(12);

  .back-icon {
    height: typography.$h1-font-size;
    width:  typography.$h1-font-size;
  }
}

h1 {
  padding: 1.276rem 0;
}