<div class="d-flex justify-content-center align-items-center min-vh-100 min-vw-100">
  <div class="container">
    <div class="row">
      <img class="w-auto pe-0" src="https://via.placeholder.com/331x419" alt="leandro-profile-picture">

      <div class="col d-flex flex-column justify-content-end ps-md-5">
        <div class="d-flex flex-column h-100" [style.max-height.px]="287">
          <h1>Leandro Matias Baldo</h1>
          <p class="font-monospace fs-4">dev front-end;</p>

          <div class="d-flex justify-content-between mt-auto">
            <a class="btn btn-outline-primary" [routerLink]="['/']">Skill Tree</a>
            <a class="btn btn-outline-primary" [routerLink]="['/']">Quest</a>
            <a class="btn btn-outline-primary" [routerLink]="['/']">Status</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>