@use "variables/colors" as c;
@use "variables/footer";

.footer, .footer-content { background: c.$bg-dark; }

.footer {
  height: footer.$size;

  .footer-content {
    gap:      18px;
    z-index:  0;
  }
}