<footer class="container d-flex flex-column">
  <hr>

  <section class="icons-section flex-fill gap-3">
    <a
      class="text-primary"
      href="https://codepen.io/zkhiro"
      target="_blank"
    >
      <i-feather name="codepen" class="footer-icon"></i-feather>
    </a>

    <a
      class="text-primary"
      href="https://github.com/zKhiro"
      target="_blank"
    >
      <i-feather name="github" class="footer-icon"></i-feather>
    </a>

    <a
      class="text-primary"
      href="https://linkedin.com/in/leandro-matias"
      target="_blank"
    >
      <i-feather name="linkedin" class="footer-icon"></i-feather>
    </a>
  </section>
</footer>