$orange:        #DD4C3C;
$gray:          #C2C7D6;
$blue:          #334A99;
$dark-magenta:  #AF2858;

$colors-theme: (
  "primary":      $orange,
  "secondary":    $gray,
  "blue":         $blue,
  "dark-magenta": $dark-magenta,
);