@use "sass:color";
@use "sass:map";
@use "sass:math";


$white:           #E4E6EC;
$jasper:          #CC4535;
$palatinate-blue: #4535CC;
$cool-gray:       #9498A8;
$raisin-black:    #181C25;

// Project Colors
$github-search: #2544AB;
$jsdoc:         #F1EB57;

$project-bg-opacity: .2;

$projects-theme: (
  "github-search":  $github-search,
  "jsdoc":          $jsdoc,
);

// Skills
$angular: #e90364;
$figma:   #ff3737;

$skill-theme: (
  "Angular":  $angular,
  "Figma":    $figma,
);

$theme: (
  "primary":      $jasper,
  "secondary":    $palatinate-blue,
  "tertiary":     $cool-gray,
  "dark":         $raisin-black,
  "bg-light":     rgba(90, 129, 226, 0.06),
);

$theme-opacity: (
  "primary-020": rgba(map.get($theme, "primary"), .2),
  "primary-050": rgba(map.get($theme, "primary"), .5),
  "secondary-020": rgba(map.get($theme, "secondary"), .2),
  "secondary-050": rgba(map.get($theme, "secondary"), .5),
);
