@use "sass:color";
@use "sass:map";
@use "sass:math";


$white:           #E4E6EC;
$jasper:          #CC4535;
$palatinate-blue: #4535CC;
$cool-gray:       #9498A8;
$raisin-black:    #181C25;

// Skill colors
$dark-magenta:    #AF2858;
$blue:            #334A99;
$orange:          #C6670F;
$cyan:            #29B59B;
$green:           #62B422;
$skill-lightness:   90;

$skill-theme: (
  "active":     $dark-magenta,
  "passive":    $blue,
  "tools":      $orange,
  "management": $cyan,
  "data":       $green,
);

$theme: (
  "primary":      $jasper,
  "secondary":    $palatinate-blue,
  "tertiary":     $cool-gray,
  "dark":         $raisin-black,
  "bg-light":     hsla(223, 70%, 62%, 0.06)
);

$theme: map.merge($theme, $skill-theme);
