$font-family-sans-serif:  "Catamaran", sans-serif;
$font-family-monospace:   "Fira Code";

$font-weight-normal:    400;
$headings-font-weight:  700;

$font-size-root:  16;
$font-size-base:  1.125rem;
$h1-font-size:    clamp($font-size-base * 2.0, 4.5vw, $font-size-base * 3);
$h2-font-size:    clamp($font-size-base * 1.25, 3vw, $font-size-base * 1.5);
$h3-font-size:    $font-size-base * 1.25;