@import "variables";

$padding-x: 8px;

.badge {
  border-radius:  4px;
  font-size:      map-get($font-sizes, 9);
  overflow:       hidden;
  padding:        0;

  &.bedge-secondary {
    box-shadow: 0 0 0 1px $secondary;

    .badge-value { background-color: $secondary; }
  }
}

.badge-value {
  font-size:  1.2em;
  padding:    2px 4px;
}

.badge-label {
  line-height:  9px;
  padding:      2px 8px;
}
