@use "sass:map";

@use "variables/colors";
@use "functions" as fun;
@use "mixins";


@each $skill-type, $skill-color in colors.$skill-theme {
  .skill-#{$skill-type} {
    border-color: map.get(colors.$skill-light-theme, '#{$skill-type}-light');

    @include mixins.noisy-background(transparent);

    &::before {
      background: radial-gradient(123% 222% at 55% 0%, $skill-color, transparent);
    }
  }
}

.skill-popover {
  backdrop-filter:  blur(6px);
  border:           2px solid;
  border-radius:    fun.convert-px-to-rem(8);
  overflow:         hidden;

  &.position-right {
    border-bottom-left-radius: 0;
  }

  &.position-left {
    border-bottom-right-radius: 0;
  }

  &::before {
    content:  "";
    height:   100%;
    position: absolute;
    right:    0;
    top:      0;
    width:    100%;
    z-index:  -1;
  }

  .skill-title {
    font-weight:    bold;
    text-transform: none;
  }
}