@use "assets";

// Rewrited bootstrap variables
  $white:        #fff;
  $gray-100:     #f8f9fa;
  $gray-200:     #e9ecef;
  $gray-300:     #dee2e6;
  $gray-400:     #ced4da;
  $gray-500:     #adb5bd;
  $gray-600:     #6c757d;
  $gray-700:     #495057;
  $gray-800:     #343a40;
  $gray-900:     #212529;
  $black:        #000;

  $blue:         #0d6efd;
  $indigo:       #6610f2;
  $purple:       #6f42c1;
  $pink:         #d63384;
  $red:          #dc3545;
  $orange:       #DD4C3C;
  $yellow:       #ffc107;
  $green:        #198754;
  $teal:         #20c997;
  $cyan:         #0dcaf0;

  $primary:       $orange;
  $secondary:     #C2C7D6;
  $success:       $green;
  $info:          $cyan;
  $warning:       $yellow;
  $danger:        $red;
  $light:         $gray-100;
  $dark:          #0C1227;

  $colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $secondary,
    "gray-dark":  $gray-800
  );

  $theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  );

  $color-contrast-dark:      $dark;
  $color-contrast-light:     $white;

  $body-color:    $white;

  $link-color:      $primary;
  $link-decoration: underline;
// End rewrited bootstrap variables

// Project Variables
  $noise-texture-default: url(assets.$path-png + 'noise-texture-default.png');

  $bg-dark:               $noise-texture-default, $dark;