// Rewrited bootstrap variables
  $font-family-code:            "Fira Code";
  $font-family-headings:        "Raleway";
  $font-family-primary:         "Poppins";

  $font-family-sans-serif:      $font-family-primary, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  $font-family-monospace:       $font-family-code, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  $font-size-root:              16px;
  $font-size-base:              1rem;
  $font-size-sm:                $font-size-base * .875;
  $font-size-lg:                $font-size-base * 1.25;

  $font-weight-lighter:         lighter;
  $font-weight-light:           300;
  $font-weight-normal:          500;
  $font-weight-semibold:        600;
  $font-weight-bold:            700;
  $font-weight-bolder:          900;

  $font-weight-base:            $font-weight-normal;

  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
  );

  $line-height-base:            1.167;
  $line-height-sm:              1.25;
  $line-height-lg:              2;

  $h1-font-size:                $font-size-base * 2.25;
  $h2-font-size:                $font-size-base * 1.75;
  $h3-font-size:                $font-size-base * 1.5;
  $h4-font-size:                $font-size-base * 1.25;
  $h5-font-size:                $font-size-base * 1.125;
  $h6-font-size:                $font-size-base;

  $font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $font-size-base * .875,
    8: $font-size-base * .75
  );

  $headings-margin-bottom:      $spacer * .5;
  $headings-font-family:        $font-family-headings;
  $headings-font-style:         null;
  $headings-font-weight:        $font-weight-bolder;
  $headings-line-height:        $line-height-base;
  $headings-color:              $primary;
// End rewrited bootstrap variables

// Project Variables
  $letter-spacing:              .075rem;
  $headings-letter-spacing:     .05em;

  $headings-text-transform:     uppercase;
